[submodule "src/ego_planner_swarm"]
	path = src/ego_planner_swarm
	url = https://github.com/TCXM/ego_planner_swarm.git
[submodule "src/task_alloc_milp"]
	path = src/task_alloc_milp
	url = https://github.com/TCXM/task_alloc_milp.git
